

a{text-decoration: none;}
ul{
  list-style: none;
}

.App{
  position: relative;
}

#main-header{
  width: 100%; height: 60px; position: fixed; top: 0; z-index: 10; background: #fff;
  box-shadow:0 1px 6px 2px #ccc;
}

#main-header > .innerbox{
  width: 90%; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;
}

#main-header > .innerbox > nav > ul{
  display: flex; gap: 20px;
}

#main-header > .innerbox > nav > ul > li > .sub{
  display: none;
}

#main-header > .innerbox > .icon-wrap{
  display: flex; gap: 10px;
}

#main-header > .innerbox > .icon-wrap > div{
  width: 20px; height: 20px; background: #000;
}

#main-header > .innerbox > .search-form{
  margin-left: auto; margin-right: 20px;
}


.main-banner{
  margin-top: 60px;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}





.product-wrap > .flex{
  position: relative; display: flex;
}

.product-wrap > .flex > .list{
  padding: 80px; flex : 1 0 50%; box-sizing: border-box; 
}
.product-wrap > .flex > .list > .best-item{
  display: grid; grid-template-columns: repeat(2, 1fr); gap: 50px 10px;
}
.product-wrap > .flex > .list > .best-item > .products > .best-thumb{
  max-width: 250px; max-height: 250px; border: #eee 0.5px solid;
}
.product-wrap > .flex > .list > .best-item > .products > .best-thumb > a{
  display: block; width: 100%; height: 100%; object-fit: cover;
}
.product-wrap > .flex > .list > .best-item > .products > .best-thumb > a > img{
  width: 100%; height: 100%; 
}


.product-wrap > .flex > .sticky{
  flex : 1 0 50%; position: sticky; top: 0; height: 100vh; background: #ccc;
}
.product-wrap > .flex > .sticky > .best-thumb{
  position: absolute; top: 0; left: 0; width: 100%; height: 100vh; overflow: hidden;
}
.product-wrap > .flex > .sticky > .best-thumb > .thumb-area{
  width: 100%; height: 100%;
}
.product-wrap > .flex > .sticky > .best-thumb > .thumb-area > .thumb{
  width: 100%; height: 100%; position: relative;
}
.product-wrap > .flex > .sticky > .best-thumb > .thumb-area > .thumb > img{
  position: absolute; bottom: 0; left: 0; width: 100%; height: 100%;
  object-fit: cover;
}
.product-wrap > .flex > .sticky > .best-thumb > .thumb-area > .thumb > img::before{
  content: '';
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5214460784313726) 50%, rgba(255, 255, 255, 0) 100%);
}
.product-wrap > .flex > .sticky > .best-thumb > .thumb-area > .text-area{
  position: absolute; bottom: 0px; padding: 50px; color: #fff;
}
.product-wrap > .flex > .sticky > .best-thumb > .thumb-area > .text-area > h2{
  font-size: 2.5rem;
}
.product-wrap > .flex > .sticky > .best-thumb > .thumb-area > .text-area > p{
  font-size: 1.25rem;
}

.to-cart,
.to-wish{
  text-indent: -9999px; 
  border:none;
}
